
  <section id="item_top">
    <div class="item_ctn inner">
    <div class="item_img_wrapper">

          <!-- スライドここから -->
          <div class="slider-for">
            {% for image in product.images %}
                <div class="p-img-wrapper">
                    <img src="{{ image.src | img_url: 'master' }}" alt="">
                </div>
            {% endfor %}
        </div>
        <div class="slider-nav">
            {% for image in product.images %}
                <div class="thumb-item">
                    <a href="javascript:void(0);" onclick="thumbnail({{ forloop.index }})" class="thumb-link">
                        <img src="{{ image.src | img_url: 'master' }}">
                    </a>
                </div>
            {% endfor %}
        </div>

          <!-- スライドここまで -->
    </div>
  
    <div class="item_ctt">
      <div class="item_info_top item_info_top_pc">
        {% assign current_variant = product.selected_or_first_available_variant %}
      <p class="cat">{% for tag in product.tags %}
      {{ tag }}{% if forloop.last == false %}, {% endif %}
    {% endfor %}</p>
      <p class="product_name">{{ product.title }}</p>
      <p class="price"><span class="yen">￥</span>{{ product.price | money }}<span class="tax">(税込)</span></p>
    </div>


    <div class="product-quantity_wrapper">
      <div class="product-quantity">
        <form action="/cart/add" method="post">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
        <button type="button" id="minus">ー</button>
        <input type="number" id="quantity" name="quantity" min="1" value="1">
        <button type="button" id="plus">＋</button>
        </div>

    <button type="submit" class="cart_btn">
      <svg class="icon_svg" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20.4546 19.7453C21.1028 19.7453 21.7246 20.0029 22.183 20.4613C22.6414 20.9197 22.8989 21.5414 22.8989 22.1897C22.8989 22.8379 22.6414 23.4597 22.183 23.9181C21.7246 24.3765 21.1028 24.634 20.4546 24.634C19.8063 24.634 19.1846 24.3765 18.7262 23.9181C18.2678 23.4597 18.0103 22.8379 18.0103 22.1897C18.0103 20.8331 19.098 19.7453 20.4546 19.7453ZM0.900024 0.190796H4.89648L6.04531 2.63511H24.121C24.4452 2.63511 24.756 2.76388 24.9852 2.99308C25.2144 3.22228 25.3432 3.53314 25.3432 3.85727C25.3432 4.06504 25.2821 4.27281 25.1965 4.46835L20.8212 12.3757C20.4057 13.1212 19.5991 13.6345 18.6824 13.6345H9.57735L8.47741 15.6267L8.44075 15.7733C8.44075 15.8544 8.47294 15.9321 8.53024 15.9894C8.58754 16.0467 8.66525 16.0789 8.74629 16.0789H22.8989V18.5232H8.23298C7.58471 18.5232 6.96298 18.2657 6.50458 17.8073C6.04619 17.3489 5.78866 16.7271 5.78866 16.0789C5.78866 15.6511 5.89865 15.2478 6.08198 14.9056L7.74411 11.9113L3.34434 2.63511H0.900024V0.190796ZM8.23298 19.7453C8.88125 19.7453 9.50297 20.0029 9.96137 20.4613C10.4198 20.9197 10.6773 21.5414 10.6773 22.1897C10.6773 22.8379 10.4198 23.4597 9.96137 23.9181C9.50297 24.3765 8.88125 24.634 8.23298 24.634C7.58471 24.634 6.96298 24.3765 6.50458 23.9181C6.04619 23.4597 5.78866 22.8379 5.78866 22.1897C5.78866 20.8331 6.87638 19.7453 8.23298 19.7453ZM19.2324 11.1902L22.63 5.07943H7.18192L10.0662 11.1902H19.2324Z"/>
      </svg>
        <p>カートに入れる</p>
        </button>
        </form>
        </div>

    <div class="item_exp">
      <p>【商品説明】</p>
      <p>{{ product.content }}</p>
    </div>

  </div> <!-- item_ctt -->
  
  </div><!-- inner -->
  <div class="item_info">
    <div class="inner">
      <p class="ttl_tab">商品情報</p>
      <div class="ctn">
        <div class="ctt">
          {% if product.metafields.custom._best-cook != empty %}
          <p class="item_exp">【美味しい食べ方】</p>
          <p class="item_exp">{{ product.metafields.custom._best-cook }}</p>
        {% endif %}
        </div>
  
        <dl class="ctt_wrap">
          {% if product.metafields.custom._content != empty %}
          <dt>商品内容</dt>
          <dd>{{ product.metafields.custom._content }}</dd>
        {% endif %}
          {% if product.metafields.custom._keep != empty %}
          <dt>保存方法</dt>
          <dd>{{ product.metafields.custom._keep }}</dd>
        {% endif %}
        {% if product.metafields.custom._best-before != empty %}
          <dt>賞味期限</dt>
          <dd>{{ product.metafields.custom._best-before }}</dd>
        {% endif %}
        {% if product.metafields.custom._material != empty %}
          <dt>原材料</dt>
          <dd>{{ product.metafields.custom._material }}</dd>
        {% endif %}
        {% if product.metafields.custom._argen != empty %}
          <dt>アレルゲン</dt>
          <dd>{{ product.metafields.custom._argen }}</dd>
        {% endif %}
        </dl>
      </div>
    </div><!-- inner -->
  </div><!-- item_info -->
  <span class="deco deco1"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/deco_wh1.png" alt=""></span>
  <span class="deco deco2"><img src="https://cdn.shopify.com/s/files/1/0879/4567/5034/files/deco_wh2.png" alt=""></span>
  </section>

  {% comment %} <section id="review" class="inner">
  <div class="ctn">
    <p>レビューが入ります</p>
  </div>
  </section> {% endcomment %}

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      var quantityInput = document.getElementById('quantity');
      var minusButton = document.getElementById('minus');
      var plusButton = document.getElementById('plus');
  
      minusButton.addEventListener('click', function() {
        var currentVal = parseInt(quantityInput.value, 10);
        if (currentVal > 1) {
          quantityInput.value = currentVal - 1;
        }
      });
  
      plusButton.addEventListener('click', function() {
        var currentVal = parseInt(quantityInput.value, 10);
        quantityInput.value = currentVal + 1;
      });
    });
  </script>


    {% schema %}
      {
        "name": "item-details",
        "presets": [
          {
            "name": "item-details"
          }
        ]
      }
    {% endschema %}